<%- include("partials/header") %>
<div class="ui main text container segment">
    <div class="ui huge header ">
        <div class="title">
            Geen Toegang
        </div>  
    </div>
    <p>
        Verkeerde gebruikernsnaam of wachtwoord gebruik?
        Probeer het opnieuw. Of stuur een email naar de beheerder
    </p>
    
    <a class="ui blue basic button" href="/login" class="item">opnieuw proberen</a>
</div>
<%- include("partials/footer") %>