<%- include("partials/header") %>

<div class="ui main text container segment">
        <p>
            <h1>Gebruiker geregistreerd</h1>
            <p> Gbebruiker is toegevoegd als medewerker.</p>
           
            <p>
                <a class="ui blue basic button" href="/messengers/" class="item">Home</a>
            </p>
           
        </p>
</div>
<%- include("partials/footer") %>