<%- include("partials/header") %>
<div class="ui main text container segment">
<div class="ui huge header ">
<div class="title">
<h1>Medewerkers pagina</h1>
</div>  
</div>

<li><a href="/new">Nieuwe BLOG</a></li>
<li><a href="/meldingen">Meldingen</a></li>
<li><a href="/logout">Uitloggen</a></li>

</div>
<%- include("partials/footer") %>